@import "../../styles/themes/mixins";
@import "../../styles/themes/Variables.scss";

.parent{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .parent_main{
    display: flex;
    justify-content: center;
    align-items: center;
    .leftBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h1{
        @include main_heading;
          margin-bottom: 20px;
          text-align: center;
          color: #306A82
      }
      .content{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        h3{
          @include subHeading;
          margin-bottom: 20px;
          text-align: center;
        }
        .parentInput{
          margin-bottom: 10px;
        }
        .error{
          @include paragraph;
          box-sizing: border-box;
          color: red;
          font-size: 0.7em;

        }
      }
      .forget{
       a{
        color: $darkgray;
       }
      }
      .Button{
        display: flex;
        justify-content: center;
        button{
          width: 140px !important;
          margin-top: 20px;
          @include buttonstyle;
          color: white;
        }
      }
    }
    
  }
  .bottom{
    h5{
      @include subHeading;
      font-size: 1em;
    }
    a{
      color: $darkgray;
    }
  }
  .img_box{
    width: 100%;
    @media screen and (max-width: 600px) {
      display: none;
  }
    img{
      height: 100vh;
      width: 100%;
    }
  }

}