@import "../../../styles/themes/Variables.scss";
.select {
  width: 300px;
  @media screen and (max-width: 550px) {
    width: 240px;
  }
  // margin: auto;
  // height: 100px;
  // margin-top: 15px;
  // border: 2px solid red;
  label {
    font-family: $Poppins;
    font-style: normal;

    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    display: block;

    letter-spacing: 0.025em;

    color: black;
    margin-bottom: 4px;
  }
  .input{
    background: $white-color;
    border: 2px solid #afafaf;
    input{
      background: $white-color;
    border: 2px solid #afafaf;
    border-radius: 6x !important;
    }
    
    &:focus-visible {
      outline: $darkgray auto 1px;
    }
  }
}
