@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;1,700&display=swap');


// Font family

$Poppins:'Poppins', sans-serif;


// colors
$darkgray:#306A82;
$text_color:#D2D2D2;
$background_clr:#f0f2f5 ;
$black-color:#000000;
$white-color: #ffff;

