@import "../../../styles/themes/mixins";
@import "../../../styles/themes/Variables.scss";
.parent{
    h4{
        @include main_heading;
        margin-bottom: 30px;
    }
    .input_parent{
        width: 66%;
        input{
            width: 100%;
            margin-bottom: 10px;
        }
        .email_box{
            input{
                width: 610px;
                margin-bottom: 10px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                  }
            }
            
        }
        .msg_box{
            input{
                width: 610px;
                height: 100px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                  }
                margin-bottom: 10px;
                &::placeholder{
                    padding: 0;
                    // padding-left: 10px;
                    font-size: 13px;
                }
            }
        }
        .btn_box{
            display: flex;
            justify-content: center;
            margin-top: 10px;
            button{
                @include buttonstyle;
            }
        }
        
    }
}