@import "../../../styles/themes/Variables.scss";
@import "../../../styles/themes/mixins";

.formInput {
  // min-width: 350px;
  // margin-top: 19px;
  position: relative;
  // min-height: 41px;
  label {
    font-family: $Poppins;
    font-style: normal;

    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    display: block;

    letter-spacing: 0.025em;

    color: $black-color;
    margin-bottom: 4px;
  }
  input {
    background: $white-color;
    border: 2px solid #afafaf;
    border-radius: 6px;
    width: 300px;
    @media screen and (max-width: 550px) {
        width: 230px;
      }
    position: relative;
    min-height: 41px;
    font-family: $Poppins;
    font-style: normal;

    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    padding: 0px 16px !important;
    letter-spacing: 0.025em;
    // margin-bottom: 10px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    // color: $grey-color;
    &:focus-visible {
      outline: $darkgray auto 1px;
      background-color: #E8F0FE;
    }
    &::placeholder {
      font-family: $Poppins;
      font-style: normal;

      font-size: 12px;
      line-height: 18px;
      /* identical to box height */

      letter-spacing: 0.025em;

      color: $text_color;
    }
  }
  textarea {
    background: $white-color;
    border: 1px solid #afafaf;
    border-radius: 6px;
    width: 100%;
    min-height: 41px;
    font-family: "poppins-light";
    font-style: normal;

    display: block;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
    resize: none;
    padding: 10px 16px !important;
    letter-spacing: 0.025em;

    // color: $grey-color;
    &:focus-visible {
      outline: $darkgray auto 1px;
    }
    &::placeholder {
      font-family: $Poppins;
      font-style: normal;

      font-size: 12px;
      line-height: 18px;
      /* identical to box height */

      letter-spacing: 0.025em;

      color: $text_color;
    }
  }
  .showPass {
    position: absolute;
    left: 270px;
    top: 36px;
    @media screen and (max-width: 550px) {
      left: 200px;
      top: 36px;
    }
    cursor: pointer;
    svg {
      font-size: 20px;
      color: $darkgray;
    }
  }
}
