@import "../../styles/themes/mixins";
@import "../../styles/themes/Variables.scss";

.parent{
  height: 100vh;
  .parent_main{
    display: flex;
    justify-content: center;
    align-items: center;
    .leftBox{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img{
        width: 200px;
        margin-bottom: 10px;
      }
      .content{
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        h2{
          @include main_heading;
          margin-bottom: 5px;
          text-align: center;
        }
        h6{
          @include paragraph;
          text-align: center;
          margin-bottom: 10px;
        }
        .Button{
          display: flex;
          justify-content: center;
          button{
            width: 140px !important;
            margin-top: 20px;
            @include buttonstyle;
            color: white;
          }
        }
       
      }
    }
    
  }
  .bottom{
    h5{
      @include subHeading;
      font-size: 1em;
    }
    a{
      color: $darkgray;
    }
  }
  .img_box{
    width: 100%;
    @media screen and (max-width: 600px) {
      display: none;
  }
    img{
      height: 100vh;
      width: 100%;
    }
  }

}